.container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.img{

    float: left;
    max-width: 30%;
    width: 30%;
    margin: 0 auto;
    position: relative;
}
.formContainer.name{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.fname{
   float: left;
   max-width: 140px;
}
.lname{
    float: right;
    max-width: 120px;
}
.formContainer{
    max-width: 350px;
    float: right;
     width: 100%;
    margin: 0 auto;
    position: relative;
   padding: 10px;
  }
button{
    background-color: rgb(8, 62, 158);
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    padding: 20px 40px 16px;
    box-sizing: inherit;
    margin-top: 10%;
   
    
}
input{
    background-color:#edf2f7;
    width: 98%;
    padding: 12px 8px 12px 12px;
    margin: 8px;
    border: solid transparent;
    
}

.piggy{
   text-align: center;
}
.formContainer.pass{
    max-width: 350x;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/* .password{
   float: left;
   max-width: 325px;
} */
.icon{
  float: right;
  margin-left: -25px;
  margin-top: -35px;
  position: relative;
  z-index: 2;;
}